.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes price-change-lower {
  from {color: black;}
  to {color: #D34E47;}
}

@keyframes price-change-greater {
  from {color: black;}
  to {color: #52A56A;}
}

.price-increase {
  animation-name: price-change-greater;
  animation-duration: 1.5s;
}

.price-decrease {
  animation-name: price-change-lower;
  animation-duration: 1.5s;
}

.logoCry::after{
  background: #EC008C
}
